WebServicesCliente01/xml-resources/web-service-references/Fibonacci/wsdl/localhost_8080/WebServicesServidor01/Fibonacci.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Calculo/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Calculo/">

<xs:element name="Fibonacci" type="tns:Fibonacci" />

<xs:element name="FibonacciResponse" type="tns:FibonacciResponse" />

<xs:complexType name="Fibonacci">
<xs:sequence>
<xs:element name="numero" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="FibonacciResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>